// ---------------- Color Variables ----------------
$white: #fff;
$light-gray: #fafafa;
$light-grey-border: #eee;
$light-color: #aaa;
// ---------------- Nav.jsx ----------------
$top-bar-text: $white;
$top-bar-color: #333;

$link-underline: #1585cf;
